@font-face {
	font-family: 'Merriweather'; 
	src: url(./../font/Merriweather-Light.ttf); 
}
@font-face {
	font-family: 'Freight'; 
	src: url(./../font/FreightSansLightSC.ttf); 
}
@font-face {
	font-family: 'Golos'; 
	src: url(./../font/Lack.otf); 
}
@font-face {
	font-family: 'Ronia'; 
	src: url(./../font/20707.ttf); 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
}
.body-main{
  background: radial-gradient(#003, #000);
}

  h1{
    font-size: 35px;
    font-weight: 800;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-weight: 500;
    font-size: 18px;
  }
  h4{
    font-weight: 500;
  }
  .body-main{
      display: flex;
      flex-direction: column;
  }
  a{
    color: black;
    text-decoration: none;
  }