*{
	padding: 0; 
	margin: 0; 
	box-sizing: border-box;
}
$colorBisq:bisque;

:root{
    --primary-color: rgba(20, 177, 177, 0.5);
    --overlay-color: rgba(24,39,51,0.85);
    --menu-speed: 0.75s;
}

.header{
    z-index: 200;
    flex-basis: 10%;
    color: bisque;
    position: fixed;
    top:50px;
    right: 50px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-family: Freight;
    justify-content: space-between;
    font-weight: 300px;
    @media screen and (orientation:portrait){
        font-size: 15px;
        top:10px;
        right: 10px;
    }
        
        &_box{
            margin-right: 20px;    
            cursor: pointer;  
            font-size: 30px;  
            color: bisque;
            @media screen and (orientation:portrait){
                font-size: 30px;  
            }         
                &_count{
                    position: relative;
                    left: -30px;
                    padding: 3px 7px;
                    font-size: 10px;
                    border-radius: 50%;
                    background-color: gold;
                    color:black
                }
            
        }
}

.menu-wrap{
    z-index: 100;
    .toggler{
        position: absolute;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
        
    }
    .hamburger{
        position: relative;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        display: flex;
        align-items: center;
     /* Hamburger line */
            > div {
                position: relative;
                width: 100%;
                height: 2px;
                background-color: $colorBisq;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.4s ease;
                    &:hover{
                        background-color:red;
                    }
            }
    /* Top and bottom lines */
     > div:before, > div:after{
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden; 
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
         > div{
            background-color: rgba(22, 0, 150, 0.5);
            backdrop-filter: blur(10px);
            width: 100vw;
            height: 100vh;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scaleY(0); 
            
             > div{
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                 opacity: 0; 
                 li {
                    list-style: none;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 1rem;
                     a{
                        color: inherit;
                        text-decoration: none;
                        transition: color 0.4s ease;
                        font-weight: 900;
                        font-size: 55px;
                        color:$colorBisq;
                        @media screen and (orientation:portrait) {
                            font-size: 8vw;
                        }
                        &:hover{
                            color:white;
                        }
                    }
                }
            }
        }
    }
}

/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
