.order{
    width: 100vw;
    height: 100vh;
    padding: 7% 5% 0 5%;
   
    background-color: antiquewhite;
    h1{
        text-align: center;
    }
    &_content{
        width: 100%;
        height: 70%;
        overflow: auto;
        margin-top: 2em;
        &_imagecounter{
            display: flex;
            flex-direction: column;
            span{
                display: flex;
                width: 150px;
                font-size: 40px;
                margin-top: 10px;
                justify-content: center;

                input{
                    width: 40px;
                    border: none;
                    border-radius: 10px;
                    margin: 0 5px;
                    text-align: center;
                    font-size: 20px;
                }

                
            }
        }
        &_text{
            padding-left: 1em;
            &_desc{
                margin-top: 1em;
                height: 180px;
                overflow: auto;
            }
        }
        & > a{
            padding: 10px 0;
            display: flex;
            height: 250px;
            border: 1px dashed burlywood;            
            img{
                width: 150px;
                height: 150px;
                border-radius: 20px;
            }
        }
        
    }
    &_accept{
        padding: 5px 10px;
        border:1px dotted black;
        width: max-content;
        margin-top: 20px;
        background-color: white;
        cursor: pointer;
        &:hover{
            background-color: gold;

        }
    }
}