.order{
    width: 100vw;
    height: 100vh;
    padding: 7% 5% 0 5%;
   
    background-color: antiquewhite;
    h1{
        text-align: center;
    }
    &_content{
        width: 100%;
        height: 70%;
        border: 1px solid red;
        overflow: auto;
        & > div{
            padding: 10px 0;
            img{
                width: 150px;
                height: 150px;
                border-radius: 20px;
            }
        }
        
    }
    &_accept{
        padding: 5px 10px;
        border:1px dotted black;
        width: max-content;
        margin-top: 20px;
        background-color: white;
        cursor: pointer;
        &:hover{
            background-color: gold;

        }
    }
}